.items{
    width: 100%;
    height: 50px;
    position: relative;
    /* border: 2px solid black */
}
.menuDrn{
width: 380px;
height: 40px;
padding-left: 20px;
padding-top: 15px;
float: left;
margin-left: 370px;
}
.others{
    padding: 25px;
    text-decoration: none;
    color: #6A737D
}
.first{
    text-decoration: none;
    color: black;
    padding: 5px;
}
.emailCh{
    width: 157px;
    height: 40px;
    float: right;
    margin-right: 100px
}
.emailB{
    margin-top: 10px; 
    background-color: #1074E7
}
.accInfo{
    width: 300px;
    height: 270px;
    /* border: 2px solid black; */
    margin-left: 30px;
    margin-top: 20px;
    background: white;
    box-shadow: 0.2px 0.2px 6px ;
    padding-top: 20px;
    box-sizing: border-box
}
.accpic{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: #D5D5D5
}
.yPhoto{
    padding-left: 105px;
}
.topicInf{
    padding-left: 10px;
    color: blue
}
.posts{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    float: right
}